
.container{width: 900px;margin: 0 auto;margin-top: 50px;}
input{ width: 96%; padding: 15px;}
ul{ display: flex; flex-direction: column;padding-left: 0;}
li{ display: block; border: 1px solid rgba(0, 0,0,.125); padding: 15px;}